.toolbar {
  height: 9vh;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  padding: 0 2%;
}

.content {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  }

.dashboard{
  display: flex;
}

.navbar-vertical {
  width: 35vh;
  background-color: #1976d2 !important;
  .nav-item {
    &.nav-item-hamburger {
      label {
        cursor: pointer;
        input[type="checkbox"] {
          + i:before {
            content: "\f0c9";
          }
          &:checked {
            + i:before {
              content: "\f00d";
            }
          }
        }
      }
    }
  }
}

.h-100vh {
  height: 90.55vh;
}
