<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head th:replace="layout/layout :: head">
    <meta charset="UTF-8">
    <title>Credit Form</title>
</head>
<body>

<section class="nombreClass">
    <div class="container-fluid" layout:fragment="page-content">
        <div class="col mt-4 mb-3">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                        <h1 class="text-center">Application History</h1>
                    </div>
                </div>
                <div class="card-body card-text mt-3">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad at consequatur consequuntur cupiditate dolores, impedit iure quibusdam sequi? Adipisci cum deleniti dolore dolorum molestias obcaecati quae quia sequi, tempora vero.</p>
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Credit Cod</th>
                            <th scope="col">House Price</th>
                            <th scope="col">Quota Value</th>
                            <th scope="col">Request Date</th>
                            <th scope="col">State</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td>@mdo</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</section>

<th:block layout:fragment="page-scripts">
</th:block>

</body>
</html>