<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head th:replace="layout/layout :: head">
    <meta charset="UTF-8">
    <title>Credit Form</title>
</head>
<body>

<section class="nombreClass">
    <div class="container-fluid" layout:fragment="page-content">
        <div class="col mt-4 mb-3">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                        <h1 class="text-center">Application History</h1>
                    </div>
                </div>
                <div class="card-body card-text mt-3 d-flex align-items-center justify-content-center">
                    <div class="text-center">
                        <h1>You can view your credits requests here.</h1>
                        <h3>ID partner 1: <span th:text="${idPartner1}"></span></h3>
                        <h3>ID partner 2: <span th:text="${idPartner2}"></span></h3>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Credit Cod</th>
                            <th scope="col">House Price</th>
                            <th scope="col">Quota Value</th>
                            <th scope="col">Request Date</th>
                            <th scope="col">State</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><span th:text="${creditCod}"></span></td>
                            <td><span th:text="${housePrice}"></span></td>
                            <td><span th:text="${quotaValue}"></span></td>
                            <td><span th:text="${requestDate}"></span></td>
                            <td><span th:text="${status}"></span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</section>

<th:block layout:fragment="page-scripts">
</th:block>

</body>
</html>