<div class="row">
    <div class="col-md-10">
        <div class="card mt-4">
            <div class="card-body">
                <div class="card-title">
                    <h1 class="text-center">Visualice la nueva informacion</h1>
                    <ul class="list-group mt-4">
                        <li class="list-group-item list-group-item-action" *ngFor="let couple of coupleList"
                            (click)="OpenEdit(couple)" [class.active]="couple == selectCouple">
                            <span class="badge text-bg-primary">{{ couple.cod_couple}}</span> {{ couple.partner1name}} y
                            {{
                            couple.partner2name}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>